* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}
header {
    width: 100%;
    height: 6.25em;
    background: #336668;
}

main {
    margin: 0.625em 5%;
    background: #007f01;
    height: 12.5em;
}

footer {
    margin: 0.625em 5%;
    height: 3.125em;
    overflow: hidden;
}

footer .left-footer,
footer .right-footer {
    height: 100%;
    float: left;
}

footer .left-footer {
    width: 49.5%;
    margin-right: 0.563em;
    background: #800081;
}

footer .right-footer {
    width: 49.5%;
    background: #0000ff;
}
